body {
    /* background-image: url("../images/background3.jpg"); */
    background-color: #eee;
    /* background-color: #ffffed;
    background-color: #cfcdcb; */

}

/* Logo */
.logo {
    margin-top: 30px;
    margin-bottom: 30px;
}

/* Gif container */
.gif-view {
    margin-top: 30px;
}

.topic-div {
    float: left;
    margin: 5px;
}

/* Buttons */

.form-group {
    margin-bottom: 10px;
}

.add-food-mb {
    margin-bottom: 30px;
}

.mb {
    margin-bottom: 10px;
}

.mr {
    margin-right: 10px;
}